COMPOSE_PROJECT_NAME=acervo

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
MINIO_BROWSER_REDIRECT_URL=https://YOUR_DOMAIN/console
MINIO_SERVER_URL=https://YOUR_DOMAIN

MINIO_PROMETHEUS_AUTH_TYPE=public

BACKUP_DIR=/backups/acervo
BACKUP_RETENTION_MONTHS=2
