COMPOSE_PROJECT_NAME=Nombre del proyecto de Docker Compose

NGINX_HTTP_PORT=Puerto para el servidor HTTP de Nginx
NGINX_HTTPS_PORT=Puerto para el servidor HTTPS de Nginx

MINIO_ACCESS_KEY=Clave de acceso para MinIO
MINIO_SECRET_KEY=Clave secreta para MinIO

MINIO_BROWSER_REDIRECT_URL=URL de redirección para la consola de MinIO
MINIO_SERVER_URL=URL del servidor de MinIO
