COMPOSE_PROJECT_NAME=Nombre del proyecto de desarrollo

MINIO_API_PORT=Puerto para la API de MinIO
MINIO_CONSOLE_PORT=Puerto para la consola de MinIO

MINIO_ACCESS_KEY=Clave de acceso para desarrollo
MINIO_SECRET_KEY=Clave secreta para desarrollo
